img{
	max-width: 100%;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.center-div{
	text-align: center;
}

@font-face{
    font-family: pixel;
    src: url(./VCR_OSD_MONO_1.001.ttf);
}

body{
	background-color: black;
	background-image: url(./bg.png);
	background-attachment: fixed;
	color: white;
	font-family: pixel;
}
