a{
	color:#eec6c0;
}
body{
	font-family: 'Exo 2', sans-serif;
	background-color:#000000;
	background-image:url('code.png');
	padding:50px;
	background-repeat: repeat-y;
	background-attachment: fixed;
}
#main{
	background-color:#b24b3b;
	overflow:auto;
	color:#eec6c0;
}
#main img{
	float:left;
	height:300px;
	margin-right:50px;
}
ul{
	padding-left:0;
	text-align:center;
}
#main ul{
	text-align:center;
	cursor: default;
}
.tile{
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
	vertical-align:top;
	text-align: center;
}
section{
	color:#eec6c0;
	margin-top:50px;
}
.orange{
	background-color:#b24b3b;
	padding:10px;
	margin:20px;
}
.orange img{
	max-width:300px;
}
#games .tile{
	width:250px;
	margin:10px;
	padding:10px;
	height:500px;
}
#programming .tile{
	width: 500px;
	height:400px;
}
#initiatives .tile{
	width: 500px;
	height:300px;
}
#websites .tile{
	width:500px;
	height:300px;
} 
#tutorials .tile{
	width: 500px;
	height:500px;
}
.thumbnail{
	width:100%;
}
.painting{
	max-width:100%;
	max-height:25vh;
}
#paintings .galery{
	display:inline-block;
	margin:10px;
}
section .main-text{
	display:inline-block;
	margin:10px;
}
.center-div{
	text-align:center;
	background-color:transparent;
	margin:0;
	padding: 0;
}
#wconstrucao,#enedmg2015{
	margin: 30px;
	width: auto;
}
