a{
	color:#eec6c0;
}
body{
	font-family: 'Exo 2', sans-serif;
	background-color:#000000;
	background-image:url('code.png');
	padding:50px;
	background-repeat: repeat-y;
	background-attachment: fixed;
}
#main{
	background-color:#b24b3b;
	padding-right:50px;
	overflow:auto;
	color:#eec6c0;
}
#main img{
	float:left;
	height:300px;
	margin-right:50px;
}
#main ul{
	text-align:center;
}
#main li{
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
}
section{
	color:#eec6c0;
	margin-top:50px;
}
section div{
	background-color:#b24b3b;
	padding:10px;
}
#games li{
	background-color:#b24b3b;
	display:inline-block;
	width:250px;
	margin:10px;
	padding:10px;
	height:500px;
	vertical-align:top;
}
.thumbnail{
	width:100%;
}
.painting{
	max-width:100%;
	max-height:25vh;
}
#paintings{
	text-align:center;
}
#paintings .galery{
	display:inline-block;
	margin:10px;
}
section .main-text{
	display:inline-block;
	margin:10px;
}
.center-div{
	text-align:center;
	background-color:transparent;
	margin:0;
	padding: 0;
}
#websites{
	text-align:center;
}
#wconstrucao,#enedmg2015{
	margin: 30px;
	width: auto;
}